@font-face{

font-family:"Vazirmatn";

src:url("fonts/Vazirmatn-Regular.ttf");

}

@font-face{
  
  font-family:"montserrat";
  
  src:url("fonts/Montserrat-Bold.ttf");
  
}

font-face{

font-family:"Montserrat-Regular";

src:url("fonts/Montserrat-Regular.ttf");

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #FBF9F3;
}

.banner{

position:relative;

padding-top: 55px;

margin-bottom: px;
}

.banner-photo{

width:100%;

display:block;

}


h2 {
  text-align: center;
  margin-top: 10px;
  color: #7F8F54;
  font-family: "vazirmatn";
  font-size: 16px;
}

hr {
  border: 1.2px solid #7F8F54;
  width: 15%;
  margin: 0 auto;
}

#categories-container{

display:flex;

justify-content:space-between;

align-items:center;

margin: 10px;

}

.category-button{

width:18%;
background: white;
border-radius: 10px;
border: none;
transition:0.3s;
padding: 5px 0px;
  
border:1px solid #ececec;

    cursor:pointer;

    transition:.25s;

    box-shadow:0 5px 15px rgba(0,0,0,.05);

    -webkit-tap-highlight-color:transparent;

}

.category-button:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.category-icon{

width:40px;

height:40px;

border-radius: 10px;

}

.category-button p {
  font-size: 10px;
  font-weight: bold;
  font-family: "vazirmatn";
}

.drink-card{
    width: 90%;
    border: 1px solid #ececec;
    border-radius: 10px;
    padding-right: 15px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity:0;
    box-shadow: 0 8px 10px rgba(0,0,0,.06);
    transition: .3s;
    transform:translateY(20px);
    animation:showCard .4s forwards;
    gap: 20px;
}

.drink-image{
    width: 30%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

#drinks-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 15px;
}

.drink-info{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    text-align:right;
    flex:1;
}

.drink-price {
  margin-left: auto;
}

.drink-card p {
  font-size: 12px;
  font-family: "vazirmatn";
}

.drink-card h3:first-child {
  font-size: 16px;
  font-family: "vazirmatn";
}

.drink-card h3:last-child {
  font-size: 16px;
  font-family: "vazirmatn";
  color: #7F8F54;
      direction: rtl;
    text-align: right;
}

.active-category{
    background:#DDE3CB;
    border-color:#7F8F54;
}

@keyframes showCard{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  background:rgba(255,255,255,0.55);
  backdrop-filter:blur(24px) saturate(180%);
      backdrop-filter: blur(24px) saturate(180%);
      -webkit-backdrop-filter: blur(24px) saturate(180%);
  padding:5px 10px;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}

.header-logo {
  width: 10%;
  height: auto;
}

#search-button{
    width:40px;
    height:40px;
    border:none;
    background:transparent;
    background-image:url("images/search.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:24px;
}

#search-input{

    display:none;

    width:100%;

    height:35px;

    border:none;

    border-radius:12px;

    padding:0 15px;

    font-family:"Vazirmatn";

    outline:none;

    margin: 10px;

    direction: rtl;

}

#search-input::placeholder{

    font-family: "vazirmatn";
    font-size: 14px;
    color: #999;
    text-align: center;
    direction: rtl;
   text-align: right;

}

.header-name {
  font-size: 20px;
  letter-spacing: 5px;
  color: #06402B;
  font-family: "montserrat";
}

#recommended-cards {
    display:flex;
    gap:10px;
    margin: 10px;
}

.featured-box {
    width:200px;
    border:1px solid #ddd;
    border-radius:15px;
    background: white;
    padding-bottom: 5px;
}


.featured-box img {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.featured-box h3:nth-child(2) {
  font-size: 14px;
  text-align: center;
  font-family: "vazirmatn";
}

.featured-box h3:last-child {
  text-align: center;
  font-family: "vazirmatn";
  color: #7F8F54;
  font-size: 14px;
  text-align: center;
  direction: rtl;
}

.recommended-color {
  background: white;
  padding-bottom: 10px;
  padding-top: 5px;
}

.about-box{
 background: white;
 padding: 15px;
 display: flex;
 justify-content: space-between;
  
  
}

.about-en {
  text-align: right;
  font-family: "montserrat";
  color: #7F8F54;
  font-size: 14px;
}

.about-title {
  text-align: right;
  color: black;
  font-size: 15px;
}

.about-p {
  text-align: right;
  font-family: "vazirmatn";
}

.cafe-photo {
  width: 30%;
  border-radius: 15px;
}

.little-banner-hidden {
  height: auto;
  padding: 0px 15px 15px 15px;
}

.little-banner {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #DDE3CB;
  position: relative;
}

.banner-icon {
  width: 15%;
  height: auto;
  position: absolute;
  left: 30px;
  bottom: 15px;
}

.banner-h3 {
  text-align: center;
  font-family: "vazirmatn";
  color: #06402B;
  font-size: 17px;
}

.banner-p {
  text-align: center;
  font-family: "vazirmatn";
  color: #658354;
  font-size: 12px;
}

.end-page {
  background: #DDE3CB;
  height: 15vh;
  position: relative;
}

.time-icon {
  width: 20px;
  position: absolute;
  left: 310px;
  top: 20px
}

.location-icon {
  width: 25px;
  position: absolute;
  left: 310px;
  top: 55px;
}

.open-time {
  font-family: "vazirmatn";
  font-size: 12px;
  position: absolute;
  left: 180px;
  top: 23px;
  
}

.location-adres {
  font-family: "vazirmatn";
  font-size: 12px;
  position: absolute;
  left: 160px;
  top: 60px;
}

.follow-us {
  font-family: "vazirmatn";
  font-size: 12px;
  position: absolute;
  left: 30px;
  top: 20px;
}

.instagram-icon {
  width: 25px;
  position: absolute;
  left: 30px;
  top: 50px;
}

.telegram-icon {
  width: 25px;
  position: absolute;
  left: 65px;
  top: 50px;
}

.no-result {
    width: 100%;
    text-align: center;
    font-family: "Vazirmatn";
    font-size: 15px;
    color: #7F8F54;
    padding: 30px 0;
}









@media (min-width: 1024px) {

  .container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .banner {
    width: 90%;
    max-width: 1400px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 20px;
}

.banner-photo {
    width: 100%;
    display: block;
    height: 500px;
    object-fit: cover;
   border-radius: 20px;
}

.header-logo {
  width: 50px;
}

.header {
  padding: 10px 50px;
}

.recommended-color{
    background:#fff;
    padding:30px 20px;
}

#recommended-cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.featured-box{
    width:230px;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
    cursor:pointer;
    margin-top: 10px;
}

.featured-box:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

.featured-box img{
    width:100%;
    height:auto;
    object-fit:cover;
}

.featured-box h2{
    margin-top:15px;
    font-size:18px;
    color:#222;
}

.featured-box h4{
    margin:10px 0 18px;
    color:#7F8F54;
    font-size:17px;
}

.featured-box{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.featured-box:focus{
    outline:none;
}

#categories-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    margin:30px auto;
}

.category-button{
    width:140px;
    height:140px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:#fff;

    border:1px solid #ececec;
    border-radius:20px;

    cursor:pointer;

    transition:.25s;

    box-shadow:0 5px 15px rgba(0,0,0,.05);

    -webkit-tap-highlight-color:transparent;
}

.category-button:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.category-icon{
    width:60px;
    height:60px;
    object-fit:contain;
}

.category-button p{
    margin-top:12px;
    font-size:16px;
    font-family:"Vazirmatn";
    font-weight:bold;
    color:#333;
}

.active-category{
    background:#DDE3CB;
    border-color:#7F8F54;
}

#drinks-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(420px,1fr));
    gap:25px;
    padding:30px;
}

.drink-card{
    width:100%;
    min-height:180px;

    display:flex;
    align-items:center;

    background:#fff;

    border-radius:20px;

    overflow:hidden;

    border:1px solid #ececec;

    box-shadow:0 8px 20px rgba(0,0,0,.06);

    transition:.3s;

    cursor:pointer;
}

.drink-card:hover{
    transform:translateY(-6px);
    box-shadow:0 18px 35px rgba(0,0,0,.12);
}

.drink-image{
    width:170px;
    height:180px;
    object-fit:cover;
}

.drink-info{
    flex:1;
    padding:20px;

    display:flex;
    flex-direction:column;
    justify-content:center;

    text-align:right;
}

.drink-info h2{
    font-size:24px;
    margin-bottom:8px;
}

.drink-info p{
    font-size:15px;
    color:#666;
    line-height:1.8;
}

.drink-info h3{
    margin-top:15px;
    font-size:22px;
    color:#7F8F54;
}

.little-banner-hidden{
    padding: 30px 60px;
}

.little-banner{
    min-height: 140px;
    border-radius: 20px;
    padding: 30px 40px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-text{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.banner-icon{
    position:absolute;
    left:40px;
    bottom:35px;

    width:60px;
    height:60px;
}

.banner-h3{
    font-size:28px;
    margin:0;
}

.banner-p{
    font-size:16px;
    margin-top:8px;
}

.drink-card,
.drink-card img,
.drink-info,
.drink-card h2,
.drink-card h3,
.drink-card p {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 35px;

    padding: 25px 35px;

    background: white;
}

.about-content {
    flex: 1;
}

.about-title {
    text-align: right;
    font-size: 21px;

    margin: 0 0 6px;
}

.about-p {
    text-align: right;
    font-family: "vazirmatn";

    font-size: 14px;
    line-height: 1.8;

    margin: 0 0 18px;
}

.cafe-photo {
    position: static;

    width: 230px;
    height: 150px;

    object-fit: cover;

    border-radius: 18px;

    flex-shrink: 0;
}

.end-page {
    background: #DDE3CB;

    min-height: 150px;

    padding: 30px 50px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    direction: rtl;
}


/* اطلاعات ساعت و آدرس */

.time-icon,
.location-icon {
    position: absolute;
}

.open-time,
.location-adres {
    position: absolute;

    font-family: "vazirmatn";
    font-size: 14px;

    color: #06402B;

    margin: 0;
}


/* ساعت */

.time-icon {
    width: 25px;

    left: auto;
    right: 300px;

    top: 32px;
}

.open-time {
    left: auto;
    right: 90px;

    top: 34px;
}


/* آدرس */

.location-icon {
    width: 27px;

    left: auto;
    right: 300px;

    top: 82px;
}

.location-adres {
    left: auto;
    right: 90px;

    top: 84px;
}


/* شبکه‌های اجتماعی */

.follow-us {
    position: absolute;

    left: 60px;
    right: auto;
    top: 30px;

    margin: 0;

    font-family: "vazirmatn";
    font-size: 14px;

    color: #06402B;
}

.instagram-icon {
    width: 30px;

    position: absolute;

    left: 60px;
    top: 65px;
}

.telegram-icon {
    width: 26px;

    position: absolute;

    left: 105px;
    top: 67px;
}

}

